html {}

body {
  /*height: 95vh;*/
  padding: 0px;
  width: 100%;
  overflow: hidden;
}

/*--------------------------------*/
/* Images stuff*/
.container {
  max-width: 100%;
  padding: 0;
  /*border: dashed blue 1px;*/
  margin:0 auto;
}

img {
  max-height: 700px;
  height: 100%;
  width: auto;
  margin-bottom: 0px;
}

.row, .column {
  padding: 0px;
  margin: 0;
}


/*--------------------------------*/
/* Slider stuff*/
.slider {
  width: 100%;
  padding: 10px;
  position:fixed;
  bottom: 5px;
  left: 50px;
  /*background-color: rgba(255, 255, 255, 0.2);*/
}

.form-range {
  width: 60%;
}

#howpost {
  font-weight: bold;
  font-size: large;
}
